.recordingArea {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.requirements {
    color: rgb(255, 255, 255);
    display: flex;
    position: sticky;
    top: 0;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    width: 300px;

}

.post {
    border-radius: 20px;
    padding: 3px;
}

.postGood {
    background-color: rgb(66, 213, 66);
}

.postBad {
    background-color: red;
}